main {
    width: 100%;
    min-height: 100vh; /* altura da janela do meu dispositivo */
    display: flex;
    justify-content: center; /* alinha no sentido contrário do flex*/ 
    align-items: center; /* alinha no sentido do flex*/
}

main > div {
    width: 90%;
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;

}

/* formulário */
#formulario {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 15px;
   padding:3%;
}

#secao-cadastro {
    height: 60px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.estilo-formulario {
    border: var(--borda);
    width: 100%;
    max-width: 340px;
    background-color: var(--cor-branco);
}

#formulario > div {
    width: 100%;
}

#formulario > div > label {
    font-size: var(--tamanho-fonte-sm3);
    color: var(--cor-cinza);
    font-weight: 500; /* aumenta ou diminui a expessura da fonte */
    padding-bottom: 4px;
}

.formulario-botao-azul {
    width: 100%;
}

#formulario >p{
    text-transform: none;
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-cinza-escuro1);
}

#formulario > a, #secao-cadastro > p > a{
    text-decoration: none;
    color: var(--cor-azul);
}

#secao-cadastro > p{
    font-size: var(--tamanho-fonte-md);
}

.informacao-aplicativo {
    font-size: var(--tamanho-fonte-sm3);
    color: var(--cor-preto);
    font-weight: 400;
}

#secao-instalacao {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* espaço em linhas e colunas */
}

#secao-instalacao img {
    width: 133px;
    height: 39px;
}

.input-file {
    display: none; /* Esconde o input padrão */
}

.caixa-upload {
    height: 50px;
    background-color: var(--cor-cinza-escuro1); /* Cor de fundo da sua caixa */
    border-radius: 10px;
    display: flex; /* Para centralizar o texto se necessário */
    justify-content: center;
    align-items: center;
}

#input-file{
    background-color: var(--cor-cinza-escuro1);
}