main {
    width: 100%;
    min-height: 100vh;/*Altura da janela do meu dispositivo*/
    background-color: aqua;
    display: flex;
    align-items: center;/*alinha no sentido ao contrario do flex*/
    justify-content: center;/*alinha no sentido do flex*/
}

div{
    background-color: blueviolet;
    width: 50%;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* formulário */
#formulario{
    height: 300px;
    /*background-color: brown;*/
}

#secao-cadastro{
    width: 100px;
    height: 100px;
    /*background-color: burlywood;*/
}
.estilo-formulario{
    border: var(--borda);
    width: 100%;
    max-width: 340px;
    background-color: var(--cor-branco);
}

.informacao-aplicativo{
    background-color: chocolate;
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-preto);
    font-weight: 400;
}

#secao-instalacao{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px ; /* espacos em linhas e colunas */
}

#secao-instalacao img{
    width: 133px;
    height: 39px;

}